body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 30px;
    width: 30px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;
}


.game-info {
    margin-left: 20px;
}
.message {
    outline:solid;
    width: fit-content;
    margin:5px;
    border-radius: 5px;
    padding:5px;
}
.chat {
    width: 300px;
    height: 300px;
    outline: solid;
    float: right;
    margin: 1em;
    overflow: scroll;
    display:none;
}
.receiver {
    color:blue;
    margin-left: auto;
}
.sender {
    color:red;
}
.screen {
    width: fit-content;

    margin: 0 auto;
}
body {
    background-color: #87CEEB;
}
.white {
    background-color:white;
}
.blackk {
    background-color:black;
}
