.board {
    width: 240px;
    height:240px;
}
.square {
    outline:solid;
    border: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    float: left;
}

.piece {
    width:25px;
    height:25px;
    margin: 2px;
}
.message {
    outline:solid;
    width: fit-content;
    margin:5px;
    border-radius: 5px;
    padding:5px;
}
.chat {
    width: 300px;
    height: 300px;
    outline: solid;
    float: right;
    margin: 1em;
    overflow: scroll;
    display:none;
}
.receiver {
    color:blue;
    margin-left: auto;
}
.sender {
    color:red;
}
.screen {
    width: fit-content;
    margin: 0 auto;
}
body {
    background-color: #87CEEB;
}
.white {
    background-color:white;
}
.blackk {
    background-color:black;
}
.credentials {
    padding: 5px;
}
